.button-major {
    height: 5vh;
    width: 10vh;
    text-transform: uppercase;
    border: 1px;
    border-radius: 10px;
    box-shadow: 0 0 1px 0px;
}

.button-major:active {
    transform: scale(0.95);
}