.homeRoot {
    align-self: center;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
}

.homeIntro {
    background-color: #876548;
    display: flex;
    flex-direction: column;
    width: 60vh;
    height: 50vh;
    padding-inline: 2vh;
    border: 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
}

.homeIntro p, h2 {
    color: white;
}

.homeIntro h2 {
    align-self: center;
    padding-top: 3vh;
    border: 2px;
    border-radius: 10px;
}

.homeStatistics {
    background-color: #876548;
    display: flex;
    flex-direction: column;
    width: 30vh;
    height: 20vh;
    padding-inline: 2vh;
    border: 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px black;
}

.homeStatistics p, h2 {
    color: white;
}

.homeStatistics p {
    margin-block: 0.1em;
}

.homeStatistics h2 {
    align-self: center;
}