html, body, #root {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: burlywood;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    color: white;
}