html, body, #root {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: burlywood;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    color: white;
}

header {
    display: flex;
    width: 100%;
    border-bottom: 1px inset #000000;
    background-color: #ce954b;
}

.headerLeft {
    display: flex;
    width: 70%;
    justify-content: flex-start;
}

.headerRight {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
}

.headerLogo {
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeRoot {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.loginRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.loginLogoDiv {
    margin-top: 5vh;
    background-color: red;
    height: 10vh;
    width: 10vh;
}

.loginLogoImage {
    width: 100%;
}

.loginBox {
    margin-top: 5vh;
    background-color: white;
    width: 40vh;
    height: 40vh;
}

.loginForm {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}