.settingsDropdownButton {
    background-color: #ce954b;
    border: 0px;
    height: 2vh;
}

.settingsDropdownButton:active {
    transform: scale(0.95);
}

.settingsDropdownIcon {
    height: 100%;
    width: 100%;
}

.settingsDropdownContent {
    background: #876548;
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 2px;
    border-radius: 3px;
}

.settingsDropdownText {
    color: white;
    padding: 10px;
}